<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
    h1 {
        color: #212b59;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 2px 2px #a59f9f;
        text-align:left;
    }
    p{
        color: #212b59;
        font-family: Arial, Helvetica, sans-serif;
        font-size:medium;
        text-align:left;
    }
    .inf{
        display: flex;
        flex-direction:column;
    }
    .navbar-brand{
        padding:inherit;
    }
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="inf">
                    <h1>LIBRARY S</h1>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><p>Books</p></a>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Records"><p>Records</p></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
                @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 Sude ÖZMEN <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
                @RenderSection("Scripts", required: false)
</body>
</html>
